.complete-unfilled,
.navigation2 {
  background-color: var(--color-white);
  display: flex;
}
.complete-unfilled {
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.navigation2 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 25px var(--padding-24) var(--padding-24);
  gap: 0;
  top: 0;
  z-index: 99;
  position: sticky;
  row-gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-firebrick-200);
  font-family: var(--font-roboto);
}
.cornell-marketplace7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.contact3 {
  position: relative;
  font-size: var(--fs-16);
  color: var(--color-gray-100);
}
.container12,
.herosection4 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.herosection4 {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-100) var(--padding-0);
  gap: var(--gap-40);
  background-image: url(./public/HeroSection2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  font-size: var(--fs-28);
}
.container12 {
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-40) var(--padding-28);
  gap: var(--gap-20);
  min-width: 370px;
  max-width: 875px;
  font-size: var(--fs-40);
}
.cornell-marketplace-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.cornell-marketplace8 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
}
.built-by-three4 {
  width: 100%;
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-32);
  color: var(--color-dimgray);
  display: inline-block;
  max-width: 819px;
}
.buttons-parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-4) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-16);
  max-width: 100%;
}
.buttons17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-47);
  flex: 1;
  position: relative;
  min-width: 265px;
  max-width: 100%;
}
.buttons-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-200);
  box-sizing: border-box;
}
.sell-in-the {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 138px);
  font-size: var(--fs-20);
  font-family: var(--font-roboto);
  color: var(--color-firebrick-200);
  text-align: left;
}
.rectangle-parent22 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-47);
  flex: 1;
  position: relative;
  min-width: 232px;
  max-width: 290px;
}
.instance-child17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  background-color: var(--color-firebrick-200);
}
.buy-from-cornell6 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 117px);
  font-size: var(--fs-20);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.linkedin3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-47);
  width: 165px;
  position: relative;
}
.linkedin-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12);
  background-color: var(--color-steelblue);
}
.follow-us-parent {
  position: absolute;
  height: 48.94%;
  width: 73.33%;
  top: 25.53%;
  right: 14.55%;
  bottom: 25.53%;
  left: 12.12%;
}
.follow-us4 {
  position: absolute;
  width: 72.73%;
  top: 0;
  left: 27.27%;
  font-size: var(--fs-20);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: 88px;
}
.linkedin-logo-icon4 {
  position: absolute;
  width: 17.36%;
  top: calc(50% - 10.5px);
  right: 82.64%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: var(--height-21);
}
.rectangle-parent23 {
  height: 188px;
  flex: 1.0684;
  position: relative;
  min-width: 253px;
  max-width: 317px;
}
.instance-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12);
  background-color: var(--color-white);
}
.rectangle-parent24 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  height: 25%;
  width: 75.39%;
  top: 51.6%;
  right: 12.3%;
  bottom: 23.4%;
  left: 12.3%;
  white-space: nowrap;
}
.access-directory {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 76.5px);
  font-size: var(--fs-20);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.cifs-food-directory {
  margin: 0;
  position: absolute;
  top: 21.28%;
  left: 12.3%;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
}
.mission-column,
.our-mission-partnership {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.our-mission-partnership {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-96) var(--padding-24) var(--padding-88);
  box-sizing: border-box;
  gap: 47.9px;
}
.mission-column {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12);
  min-width: var(--min-w-322);
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
.our-mission4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--fs-32);
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-100);
}
.it-begins-inside-a-trusted-com {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  max-width: 100%;
}
.it-begins-inside4 {
  flex: 1;
  position: relative;
  line-height: var(--lh-32);
  display: inline-block;
  max-width: 592px;
}
.they-sell-they-learn-they-it {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  max-width: 420px;
}
.they-sell-they4,
.we-are-actively4 {
  position: relative;
  line-height: var(--lh-32);
}
.they-sell-they4 {
  flex: 1;
  display: inline-block;
  max-width: 420px;
}
.we-are-actively4 {
  align-self: stretch;
  color: var(--color-firebrick-200);
}
.partnership-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12);
  min-width: var(--min-w-322);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.in-partnership-with4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
}
.logos-row-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logos-row-1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-20);
}
.logos-row-1-child {
  width: var(--width-96);
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.frame-child21,
.logos-row-1-inner {
  height: var(--height-96);
  width: 150px;
  position: relative;
  object-fit: cover;
}
.frame-child21 {
  width: 200px;
}
.content-columns,
.how-it-works6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.how-it-works6 {
  background-color: var(--color-seashell);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-96) var(--padding-24) var(--padding-88);
  box-sizing: border-box;
  gap: var(--gap-12);
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.content-columns {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-48);
  font-size: var(--fs-20);
  color: var(--color-dimgray);
}
.no-subscriptions-per-transact-container4 {
  flex: 1;
  position: relative;
  line-height: var(--lh-40_8);
  display: inline-block;
  min-width: var(--min-w-322);
  max-width: 649px;
}
.no-subscriptions-per-transact8 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
  line-height: var(--lh-40_8);
}
.no-subscriptions-per-transact9 {
  line-height: var(--lh-40_8);
}
.the-marketplace-is-container4 {
  flex: 1;
  position: relative;
  line-height: var(--lh-32);
  display: inline-block;
  min-width: var(--min-w-322);
  max-width: 535px;
}
.blank-line20,
.the-marketplace-is-designed-to4 {
  line-height: var(--lh-32);
}
.blank-line20 {
  font-family: var(--font-roboto);
}
.when-startups-outgrow4 {
  color: var(--color-firebrick-200);
  line-height: var(--lh-32);
}
.clients-and-startups7 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-96) 25px var(--padding-88) 23px;
  box-sizing: border-box;
  gap: var(--gap-28);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.cards-grid,
.clients-and-startups7,
.clients-startups9 {
  display: flex;
  align-items: flex-start;
}
.cards-grid {
  align-self: stretch;
  height: 1016px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-40) var(--gap-48);
  max-width: 100%;
}
.clients-startups9 {
  height: var(--height-488);
  flex: 1;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: var(--border-2);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  min-width: 394.7px;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.image-neuralpath-ai9 {
  align-self: stretch;
  height: var(--height-180);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container13,
.heading-39 {
  display: flex;
  flex-direction: column;
}
.container13 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-32);
  position: relative;
  isolation: isolate;
}
.heading-39 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12);
  z-index: 0;
  flex-shrink: 0;
}
.abstinence-spirits9 {
  margin: 0;
  width: var(--width-211);
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.paragraph-margin9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--color-dimgray);
}
.pioneering-ai-driven-education9 {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-25_5);
}
.container-inner4 {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-40);
  z-index: 2;
  flex-shrink: 0;
}
.rectangle-parent25 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-126);
  height: var(--height-43);
  position: relative;
}
.explore9 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 27px);
  font-size: var(--fs-16);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.clients-startups11,
.clients-startups12 {
  flex: 1;
  box-sizing: border-box;
  align-items: flex-start;
}
.clients-startups11 {
  display: flex;
  padding: var(--padding-0) 2px var(--padding-0) var(--padding-0);
  min-width: 562px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.clients-startups12 {
  height: var(--height-488);
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: var(--border-2);
  overflow: hidden;
}
.clients-startups12,
.clients-startups13,
.heading-312 {
  display: flex;
  flex-direction: column;
}
.clients-startups13 {
  height: var(--height-488);
  flex: 1;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: var(--border-2);
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
  min-width: 394.7px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.heading-312 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12);
  z-index: 0;
  flex-shrink: 0;
  font-size: var(--fs-24);
}
.container-inner7,
.paragraph-margin12 {
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.paragraph-margin12 {
  align-self: stretch;
  display: flex;
  z-index: 1;
  color: var(--color-dimgray);
}
.container-inner7 {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 32px;
  display: none;
  padding: var(--padding-0) var(--padding-0) var(--padding-40);
  z-index: 2;
  color: var(--color-white);
}
.rectangle-parent28 {
  width: var(--width-126);
  height: var(--height-43);
  position: relative;
}
.explore12 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 27px);
}
.co-founders-group,
.stay-in-touch6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.stay-in-touch6 {
  background-color: var(--color-seashell);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-96) var(--padding-24) var(--padding-88);
  box-sizing: border-box;
  gap: var(--gap-28);
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.co-founders-group {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 55px;
}
.co-founders10 {
  height: var(--height-418);
  flex: 1;
  position: relative;
  border: var(--border-2);
  box-sizing: border-box;
  min-width: 355px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.co-founders-child16,
.co-founders-child17 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.co-founders-child16 {
  height: 100%;
  bottom: 0;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-12);
  background-color: var(--color-white);
}
.co-founders-child17 {
  height: 70.57%;
  bottom: 29.43%;
  border-radius: var(--br-12) var(--br-12) var(--br-0) var(--br-0);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.adon-davis-container10 {
  position: absolute;
  top: 74.4%;
  left: 5.35%;
  font-size: var(--fs-18);
}
.ceo4 {
  color: var(--color-firebrick-200);
}
.mba-1210 {
  position: absolute;
  top: 81.34%;
  left: 5.35%;
  color: var(--color-dimgray);
  display: inline-block;
  min-width: var(--min-w-60);
}
.group-child,
.rectangle-parent29 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent29 {
  height: 10.29%;
  top: 89.71%;
  color: var(--color-white);
}
.group-child {
  height: 100%;
  top: 0;
  border-radius: var(--br-0) var(--br-0) var(--br-12) var(--br-12);
  background-color: var(--color-steelblue);
}
.connect10 {
  position: absolute;
  top: 27.91%;
  left: 41.98%;
  display: inline-block;
  min-width: var(--min-w-60);
}
.co-founders11 {
  height: var(--height-418);
  flex: 1;
  position: relative;
  border: var(--border-2);
  box-sizing: border-box;
  min-width: 355px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.adon-davis-container11,
.mba-1211 {
  position: absolute;
  top: 74.4%;
  left: 5.35%;
}
.mba-1211 {
  top: 81.34%;
  font-size: var(--fs-16);
  color: var(--color-dimgray);
  display: inline-block;
  min-width: 69px;
}
.rectangle-parent30 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  height: 10.29%;
  width: 100%;
  top: 89.71%;
  right: 0;
  bottom: 0;
  left: 0;
}
.connect11,
.mba-1212 {
  position: absolute;
  display: inline-block;
}
.connect11 {
  top: 27.91%;
  left: 41.98%;
  font-size: var(--fs-16);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: var(--min-w-60);
}
.mba-1212 {
  top: 81.34%;
  left: 5.35%;
  color: var(--color-dimgray);
  min-width: 61px;
}
.explore-supplybistro {
  align-self: stretch;
  background-color: var(--color-firebrick-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.explore-supplybistro-row-0 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-28) var(--padding-24);
  box-sizing: border-box;
  gap: 39.9px;
  max-width: 100%;
}
.supply-bistro-logo-1-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-12);
  max-width: 356px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 284px;
}
.explore-supplybistro-row-0-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  min-width: 321px;
  max-width: 100%;
}
.explore-supplybistro2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-25_5);
  font-weight: 700;
  font-family: inherit;
}
.check-out-our-website-to-see-m {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-8);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--fs-20);
}
.check-out-our {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-32);
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.buttons18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: 100%;
  height: var(--height-47);
  position: relative;
  max-width: 97px;
}
.buttons-child13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0.31%;
  bottom: 0;
  left: -0.31%;
  border-radius: var(--br-100);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-200);
  box-sizing: border-box;
}
.visit {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 20.8px);
  font-size: var(--fs-20);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-firebrick-200);
  text-align: left;
  min-width: 41px;
}
.explore-supplybistro-child,
.footer4 {
  align-self: stretch;
  box-sizing: border-box;
}
.explore-supplybistro-child {
  height: 1px;
  position: relative;
  border-top: var(--border-11);
}
.footer4 {
  background-color: var(--color-firebrick-200);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 29px var(--padding-24) var(--padding-28);
  gap: var(--gap-8);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.the-cornell-marketplace4 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: var(--min-w-322);
  max-width: 100%;
}
.buttons19 {
  height: var(--height-43);
  width: var(--width-137);
  position: relative;
  color: var(--color-firebrick-200);
}
.buttons-child14 {
  cursor: pointer;
  border: 1px solid var(--color-firebrick-200);
  padding: var(--padding-01);
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 1.46%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  box-sizing: border-box;
}
.contact-us4 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 40.5px);
  display: inline-block;
  min-width: 79px;
}
@media screen and (max-width: 1200px) {
  .clients-and-startups7 {
    padding-top: var(--padding-62);
    padding-bottom: var(--padding-57);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .container12 {
    max-width: 100%;
    width: calc(100% - 40px);
    flex: 1;
  }
  .cornell-marketplace8 {
    font-size: var(--fs-32);
    line-height: var(--lh-33);
  }
  .built-by-three4 {
    max-width: 100%;
  }
  .in-partnership-with4,
  .our-mission4 {
    font-size: var(--fs-26);
    line-height: var(--lh-33);
  }
  .explore-supplybistro2 {
    font-size: var(--fs-26);
    line-height: 20px;
  }
}
@media screen and (max-width: 750px) {
  .herosection4 {
    gap: var(--gap-20);
    padding-top: var(--padding-65);
    padding-bottom: var(--padding-65);
    box-sizing: border-box;
  }
  .container12,
  .rectangle-parent23 {
    max-width: 100%;
  }
  .our-mission-partnership {
    gap: var(--gap-24);
  }
  .it-begins-inside4 {
    max-width: 100%;
  }
  .how-it-works6 {
    padding-top: var(--padding-62);
    padding-bottom: var(--padding-57);
    box-sizing: border-box;
  }
  .content-columns {
    gap: var(--gap-24);
  }
  .no-subscriptions-per-transact-container4,
  .the-marketplace-is-container4 {
    max-width: 100%;
  }
  .clients-and-startups7 {
    padding-top: var(--padding-40);
    padding-bottom: 37px;
    box-sizing: border-box;
  }
  .cards-grid {
    gap: var(--gap-24);
  }
  .clients-startups11 {
    min-width: 100%;
  }
  .stay-in-touch6 {
    padding-top: var(--padding-62);
    padding-bottom: var(--padding-57);
    box-sizing: border-box;
  }
  .co-founders-group {
    gap: 27px;
  }
  .explore-supplybistro-row-0 {
    gap: var(--gap-20);
  }
  .supply-bistro-logo-1-icon {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .cornell-marketplace8 {
    font-size: var(--fs-24);
    line-height: var(--lh-24);
  }
  .built-by-three4 {
    line-height: var(--lh-26);
  }
  .built-by-three4,
  .follow-us4 {
    font-size: var(--fs-16);
  }
  .rectangle-parent23 {
    width: calc(100% - 40px);
  }
  .cifs-food-directory {
    font-size: 22px;
    line-height: var(--lh-33);
  }
  .our-mission-partnership {
    padding-top: var(--padding-62);
    padding-bottom: var(--padding-57);
    box-sizing: border-box;
  }
  .our-mission4 {
    font-size: var(--fs-19);
    line-height: var(--lh-24);
  }
  .it-begins-inside4 {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .they-sell-they-learn-they-it,
  .they-sell-they4 {
    max-width: 100%;
  }
  .they-sell-they4,
  .we-are-actively4 {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .in-partnership-with4 {
    font-size: var(--fs-19);
    line-height: var(--lh-24);
  }
  .no-subscriptions-per-transact-container4 {
    font-size: var(--fs-16);
    line-height: var(--lh-33);
  }
  .the-marketplace-is-container4 {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .clients-startups13,
  .clients-startups9 {
    min-width: 100%;
  }
  .explore-supplybistro2 {
    font-size: var(--fs-19);
    line-height: 15px;
  }
  .check-out-our {
    line-height: var(--lh-26);
  }
  .check-out-our,
  .visit {
    font-size: var(--fs-16);
  }
}