.final-draft-i1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.navigation,
.navigation-child {
  background-color: var(--color-white);
  max-width: 100%;
}
.navigation {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px var(--padding-24) 14px;
  box-sizing: border-box;
  gap: var(--gap-20);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-firebrick);
  font-family: var(--font-roboto);
}
.navigation-child {
  height: 72px;
  width: 1280px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.cornell-marketplace-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.cornell-marketplace {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.contact-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
}
.frame-parent {
  gap: var(--gap-16);
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--color-black);
}
.contact-wrapper {
  width: 81px;
  flex-direction: column;
  padding: var(--padding-12) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.contact {
  position: relative;
  z-index: 1;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-28);
  background-color: transparent;
  height: var(--height-43);
  width: 157px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.buttons-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick);
  box-sizing: border-box;
  z-index: 0;
  flex-shrink: 0;
}
.request-entry {
  height: var(--height-19);
  width: 101px;
  position: relative;
  font-size: var(--fs-16);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-firebrick);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-28);
  background-color: transparent;
  height: var(--height-43);
  width: 243px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.instance-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  background-color: var(--color-firebrick);
  z-index: 0;
  flex-shrink: 0;
}
.buy-from-cornell {
  height: var(--height-19);
  width: 187px;
  position: relative;
  font-size: var(--fs-16);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.herosection,
.herosection-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.herosection-wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-96);
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.herosection {
  padding: var(--padding-100) 523px var(--padding-100) var(--padding-24);
  background-image: url(./public/HeroSection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container,
.cornell-marketplace-parent,
.herosection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container {
  width: 733px;
  flex: 1;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  padding: var(--padding-40) var(--padding-32) 44px;
  box-sizing: border-box;
  gap: var(--gap-24);
  flex-shrink: 0;
}
.cornell-marketplace-parent {
  width: 669px;
  height: 153px;
  gap: var(--gap-16);
}
.cornell-marketplace2 {
  margin: 0;
  width: 381.8px;
  height: 41px;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.built-by-three {
  width: 669px;
  height: 96px;
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-32);
  color: var(--color-darkslategray);
  display: inline-block;
}
.buttons-parent,
.buttons2 {
  height: 47px;
  display: flex;
  align-items: flex-start;
}
.buttons-parent {
  width: 669px;
  gap: var(--gap-16);
}
.buttons2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-28);
  background-color: transparent;
  width: 182px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  z-index: 3;
}
.request-entry2 {
  height: 23px;
  width: var(--width-126);
  position: relative;
  font-size: var(--fs-20);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-firebrick);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-28);
  background-color: transparent;
  height: 47px;
  width: 290px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.buy-from-cornell2 {
  height: 23px;
  width: 234px;
  position: relative;
  font-size: var(--fs-20);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-20);
  background-color: transparent;
  height: 47px;
  width: 165px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  z-index: 1;
}
.instance-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12);
  background-color: var(--color-steelblue);
  z-index: 0;
  flex-shrink: 0;
}
.frame-group {
  height: 23px;
  width: 121px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
  z-index: 1;
  flex-shrink: 0;
}
.linkedin-logo-wrapper {
  height: 22px;
  width: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  z-index: 2;
}
.linkedin-logo-icon {
  width: 21px;
  height: var(--height-21);
  position: relative;
}
.follow-us,
.mission-content-wrapper {
  text-align: left;
  font-family: var(--font-roboto);
}
.follow-us {
  height: 23px;
  width: 88px;
  position: relative;
  font-size: var(--fs-20);
  display: inline-block;
  color: var(--color-white);
  flex-shrink: 0;
  z-index: 1;
}
.mission-content-wrapper {
  width: 1186px;
  padding: var(--padding-0) var(--padding-24) 88px;
  box-sizing: border-box;
  font-size: var(--fs-32);
  color: var(--color-black);
}
.mission-content,
.mission-content-wrapper,
.mission-header {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mission-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12);
}
.mission-header {
  width: 905px;
  justify-content: space-between;
  gap: var(--gap-20);
}
.our-mission {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
}
.frame-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-48);
  max-width: 100%;
  font-size: var(--fs-20);
}
.it-begins-inside-a-trusted-com-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  min-width: 385px;
  max-width: 100%;
}
.it-begins-inside,
.they-sell-they,
.we-are-actively {
  position: relative;
  line-height: var(--lh-32);
}
.they-sell-they,
.we-are-actively {
  width: 483px;
  display: inline-block;
  max-width: 100%;
}
.we-are-actively {
  color: var(--color-firebrick);
}
.cornell-logos-parent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-20);
  max-width: 100%;
}
.cornell-logos {
  flex: 1;
  gap: var(--gap-8);
  max-width: 100%;
}
.cornell-logos,
.frame-div,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  min-width: 138px;
}
.rectangle-parent2 {
  align-self: stretch;
  gap: var(--gap-20);
}
.frame-child,
.frame-item {
  width: 96px;
  position: relative;
  z-index: 1;
}
.frame-child {
  height: 96px;
  border-radius: 48px;
  background-color: var(--color-silver-200);
}
.frame-item {
  max-height: 100%;
  object-fit: cover;
}
.background-rect-icon {
  width: 200px;
  height: 96px;
  position: relative;
  object-fit: cover;
}
.shield-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shield-background-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-12);
}
.shield-background-icon {
  height: 96px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.outer-rect-icon {
  width: 96px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.how-it-works-container,
.how-it-works-container-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.how-it-works-container-wrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-96);
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.how-it-works-container {
  flex: 1;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-96) var(--padding-24) 88px;
  gap: var(--gap-12);
}
.no-subscriptions-per-transact-container {
  flex: 1;
  position: relative;
  line-height: var(--lh-40_8);
  display: inline-block;
  min-width: 422px;
  max-width: 100%;
}
.no-subscriptions-per-transact {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
  line-height: var(--lh-40_8);
}
.blank-line {
  line-height: var(--lh-40_8);
}
.the-marketplace-is-container {
  height: 251.2px;
  width: 535px;
  position: relative;
  line-height: var(--lh-32);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.blank-line5,
.the-marketplace-is-designed-to {
  line-height: var(--lh-32);
}
.blank-line5 {
  font-family: var(--font-roboto);
}
.when-startups-outgrow {
  color: var(--color-firebrick);
  line-height: var(--lh-32);
}
.products-container,
.products-container-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.products-container-wrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-24) 88px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.products-container {
  flex: 1;
  position: relative;
  isolation: isolate;
}
.ellipse-parent {
  height: var(--height-40);
  width: var(--width-40);
  position: absolute;
  margin: 0 !important;
  top: 1px;
  right: 0;
}
.ellipse-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0 solid var(--color-firebrick);
  box-sizing: border-box;
}
.arrow-icon {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 6px);
  width: var(--width-12);
  height: 14.7px;
  z-index: 1;
}
.products-details,
.products-info {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.products-info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-28);
}
.products-details {
  width: 1184px;
  justify-content: space-between;
  gap: var(--gap-20);
}
.products {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--0_68);
  line-height: var(--lh-40_8);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 126px;
}
.product-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
}
.ellipse-group {
  width: var(--width-40);
  height: var(--height-40);
  position: relative;
}
.instance-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0 solid var(--color-silver-100);
  box-sizing: border-box;
}
.instance-child3 {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 6px);
  width: var(--width-12);
  height: 14.7px;
  object-fit: contain;
  z-index: 1;
}
.products-parent,
.products2 {
  display: flex;
  align-items: flex-start;
}
.products-parent {
  align-self: stretch;
  gap: 49px;
  max-width: 100%;
}
.products2 {
  height: 412px;
  width: var(--width-378);
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-24);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.products-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  z-index: 0;
  flex-shrink: 0;
}
.description-boxes-icon {
  width: var(--width-378);
  height: 238px;
  position: relative;
  border-radius: var(--br-12) var(--br-12) var(--br-0) var(--br-0);
  object-fit: cover;
  z-index: 1;
  flex-shrink: 0;
}
.products-inner {
  width: 358px;
  height: var(--height-130);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  z-index: 2;
  flex-shrink: 0;
}
.product-info-parent {
  height: var(--height-130);
  flex-direction: column;
  gap: var(--gap-20);
}
.insert-product-here-parent,
.product-info,
.product-info-parent {
  width: var(--width-338);
  display: flex;
  align-items: flex-start;
}
.product-info {
  height: 67px;
  flex-direction: column;
  gap: var(--gap-8);
  z-index: 2;
}
.insert-product-here-parent {
  height: var(--height-21);
  gap: 111px;
}
.insert-product-here {
  height: var(--height-21);
  width: 159px;
}
.insert-product-here,
.spacer,
.this-is-a {
  position: relative;
  display: inline-block;
}
.spacer {
  height: var(--height-21);
  width: 68px;
  color: var(--color-firebrick);
  text-align: right;
}
.this-is-a {
  width: var(--width-338);
  height: 38px;
  font-size: var(--fs-16);
  color: var(--color-darkslategray);
}
.buttons3,
.view {
  position: relative;
  z-index: 1;
}
.buttons3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-36);
  background-color: transparent;
  width: 108px;
  height: var(--height-43);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  isolation: isolate;
}
.view {
  height: var(--height-19);
  width: var(--width-36);
  font-size: var(--fs-16);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
}
.clients-and-startups,
.clients-and-startups-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.clients-and-startups-wrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-96);
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.clients-and-startups {
  flex: 1;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-96) var(--padding-24) var(--padding-40);
  gap: var(--gap-28);
}
.clients-startups-parent,
.frame-parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  flex-direction: column;
  gap: 40px;
}
.clients-startups-parent {
  gap: var(--gap-48);
}
.clients-startups {
  height: 488px;
  width: 591px;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}
.image-neuralpath-ai {
  align-self: stretch;
  height: 180px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container2,
.heading-3 {
  display: flex;
  flex-direction: column;
}
.container2 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-32);
  position: relative;
  isolation: isolate;
}
.heading-3 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12);
  z-index: 0;
  flex-shrink: 0;
}
.abstinence-spirits {
  margin: 0;
  width: 211px;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.paragraph-margin {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--color-darkslategray);
}
.pioneering-ai-driven-education {
  align-self: stretch;
  position: relative;
  line-height: 25.5px;
}
.container-inner {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-40);
  z-index: 2;
  flex-shrink: 0;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-126);
  height: var(--height-43);
  position: relative;
}
.explore {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 27px);
  font-size: var(--fs-16);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.button-explore {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  background-color: var(--color-firebrick);
}
.abstinence-spirits4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 700;
  font-family: inherit;
}
.buttons-wrapper,
.buttons6 {
  display: flex;
  align-items: flex-start;
}
.buttons-wrapper {
  align-self: stretch;
  padding: var(--padding-0) 547px var(--padding-0) 548px;
}
.buttons6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-28);
  background-color: transparent;
  height: var(--height-43);
  width: 137px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.show-more {
  height: var(--height-19);
  width: 81px;
  position: relative;
  font-size: var(--fs-16);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-firebrick);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.co-founders,
.co-founders-parent {
  display: flex;
  align-items: flex-start;
}
.co-founders-parent {
  align-self: stretch;
  gap: 55px;
  max-width: 100%;
}
.co-founders {
  height: 418px;
  width: var(--width-374);
  flex-direction: column;
  position: relative;
  isolation: isolate;
  gap: var(--gap-16);
  z-index: 3;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.images {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-12);
  background-color: var(--color-white);
  z-index: 0;
}
.backgrounds-icon {
  width: var(--width-374);
  height: 295px;
  position: relative;
  border-radius: var(--br-12) var(--br-12) var(--br-0) var(--br-0);
  object-fit: cover;
  z-index: 1;
}
.adon-info,
.founder-info {
  height: var(--height-48);
  display: flex;
  align-items: flex-start;
}
.founder-info {
  width: 172px;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  z-index: 2;
}
.adon-info {
  width: 152px;
  flex-direction: column;
  gap: var(--gap-8);
}
.adon-davis-container {
  width: 152px;
  height: var(--height-21);
  position: relative;
  display: inline-block;
}
.ceo {
  color: var(--color-firebrick);
}
.mba-12,
.profiles-parent {
  position: relative;
  font-size: var(--fs-16);
}
.mba-12 {
  width: var(--width-60);
  height: var(--height-19);
  color: var(--color-darkslategray);
  display: inline-block;
}
.profiles-parent {
  width: var(--width-374);
  height: var(--height-43);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-12) 157px;
  box-sizing: border-box;
  isolation: isolate;
  z-index: 3;
  color: var(--color-white);
}
.profiles {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-0) var(--br-0) var(--br-12) var(--br-12);
  background-color: var(--color-steelblue);
  z-index: 0;
  flex-shrink: 0;
}
.co-founders2,
.connect {
  position: relative;
  z-index: 1;
}
.connect {
  height: var(--height-19);
  width: var(--width-60);
  display: inline-block;
  flex-shrink: 0;
}
.co-founders2 {
  height: 418px;
  width: var(--width-374);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  isolation: isolate;
  gap: var(--gap-16);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.adon-davis-cto-parent,
.co-founders-inner {
  height: var(--height-48);
  display: flex;
  align-items: flex-start;
}
.co-founders-inner {
  width: 162px;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  z-index: 2;
}
.adon-davis-cto-parent {
  width: 142px;
  flex-direction: column;
  gap: var(--gap-8);
}
.adon-davis-container2,
.mba-122 {
  width: 142px;
  height: var(--height-21);
  position: relative;
  display: inline-block;
}
.mba-122 {
  width: 69px;
  height: var(--height-19);
  font-size: var(--fs-16);
  color: var(--color-darkslategray);
}
.co-founders3 {
  height: 418px;
  width: var(--width-374);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  gap: var(--gap-16);
  z-index: 2;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.adon-davis-cto-group,
.co-founders-inner2 {
  height: var(--height-48);
  display: flex;
  align-items: flex-start;
}
.co-founders-inner2 {
  width: 216px;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  z-index: 2;
}
.adon-davis-cto-group {
  width: 196px;
  flex-direction: column;
  gap: var(--gap-8);
}
.adon-davis-container3,
.mba-123 {
  width: 196px;
  height: var(--height-21);
  position: relative;
  display: inline-block;
}
.mba-123 {
  width: 61px;
  height: var(--height-19);
  font-size: var(--fs-16);
  color: var(--color-darkslategray);
}
.footer,
.powered {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footer {
  align-self: stretch;
  background-color: var(--color-firebrick);
  overflow: hidden;
  justify-content: space-between;
  padding: 29px var(--padding-24) var(--padding-28);
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.powered {
  flex-direction: column;
  padding: var(--padding-12) var(--padding-0) var(--padding-0);
}
.buttons7,
.the-cornell-marketplace {
  position: relative;
}
.buttons7 {
  height: var(--height-43);
  width: 137px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-12) var(--padding-28);
  box-sizing: border-box;
  isolation: isolate;
  color: var(--color-firebrick);
}
.contact-background {
  cursor: pointer;
  border: 1px solid var(--color-firebrick);
  padding: var(--padding-01);
  background-color: var(--color-white);
  height: 100%;
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-100);
  box-sizing: border-box;
  z-index: 0;
  flex-shrink: 0;
}
.contact-us {
  height: var(--height-19);
  width: 79px;
  position: relative;
  display: inline-block;
  z-index: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 1225px) {
  .products-parent {
    flex-wrap: wrap;
  }
  .clients-and-startups-wrapper {
    padding-bottom: var(--padding-62);
    box-sizing: border-box;
  }
  .clients-and-startups {
    padding-top: var(--padding-62);
    padding-bottom: 26px;
    box-sizing: border-box;
  }
  .clients-startups-parent {
    flex-wrap: wrap;
  }
  .buttons-wrapper {
    padding-left: 274px;
    padding-right: 273px;
    box-sizing: border-box;
  }
  .co-founders-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .frame-container {
    flex-wrap: wrap;
  }
  .cornell-logos-parent {
    flex: 1;
  }
  .how-it-works-container-wrapper {
    padding-bottom: var(--padding-62);
    box-sizing: border-box;
  }
  .the-marketplace-is-container {
    flex: 1;
  }
  .co-founders-parent,
  .products-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(283px, 491px));
  }
  .co-founders-parent {
    grid-template-columns: repeat(2, minmax(280px, 486px));
  }
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    display: none;
  }
  .herosection-wrapper {
    padding-bottom: var(--padding-62);
    box-sizing: border-box;
  }
  .herosection {
    padding-top: 65px;
    padding-right: 261px;
    padding-bottom: 65px;
    box-sizing: border-box;
  }
  .cornell-marketplace2 {
    font-size: var(--fs-32);
    line-height: var(--lh-33);
  }
  .mission-header {
    flex-wrap: wrap;
  }
  .our-mission {
    font-size: var(--fs-26);
    line-height: var(--lh-33);
  }
  .frame-container {
    gap: var(--gap-24);
  }
  .cornell-logos-parent,
  .it-begins-inside-a-trusted-com-parent {
    min-width: 100%;
  }
  .how-it-works-container {
    padding-top: var(--padding-62);
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .no-subscriptions-per-transact-container,
  .the-marketplace-is-container {
    min-width: 100%;
  }
  .products-container-wrapper {
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .products {
    font-size: var(--fs-26);
    line-height: var(--lh-33);
  }
  .products-parent {
    gap: var(--gap-24);
    grid-template-columns: minmax(283px, 1fr);
  }
  .clients-and-startups-wrapper {
    padding-bottom: var(--padding-40);
    box-sizing: border-box;
  }
  .clients-and-startups {
    padding-top: var(--padding-40);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .frame-parent5 {
    gap: var(--gap-20);
  }
  .clients-startups-parent {
    gap: var(--gap-24);
  }
  .buttons-wrapper {
    padding-left: 137px;
    padding-right: 136px;
    box-sizing: border-box;
  }
  .co-founders-parent {
    gap: 27px;
    grid-template-columns: minmax(280px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .herosection {
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .cornell-marketplace2 {
    font-size: var(--fs-24);
    line-height: var(--lh-24);
  }
  .built-by-three {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .our-mission {
    font-size: var(--fs-19);
    line-height: var(--lh-24);
  }
  .it-begins-inside,
  .they-sell-they,
  .we-are-actively {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .cornell-logos,
  .cornell-logos-parent {
    flex-wrap: wrap;
  }
  .shield-logos {
    flex: 1;
  }
  .how-it-works-container-wrapper {
    padding-bottom: var(--padding-40);
    box-sizing: border-box;
  }
  .no-subscriptions-per-transact-container {
    font-size: var(--fs-16);
    line-height: var(--lh-33);
  }
  .the-marketplace-is-container {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
  .products-details {
    flex-wrap: wrap;
  }
  .products {
    font-size: var(--fs-19);
    line-height: var(--lh-24);
  }
  .buttons-wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
